/* THE CONTAINER */
.container{
    width: 85%;
    margin: auto;
}

/* THE HEADER */
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    border: 1px solid red;
}

.navbar{
    width: 500px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

#navs{
    width: 100px;
}

.hire-btn{
    background: #000;
}

.navbar button{
    height: 10vh;
    width: auto;
    font-size: 15px;
    border: 0;
    background: none;
}

.navbar button:hover{
    cursor: pointer;
    background: grey;
}


/* SECTION 1 */
#section1 img{
    width: 200px;
    border: 1px solid red;
}

#section1{
    display: flex;
    border: 1px solid yellowgreen;
}

#section1 >* {
    border:1px solid red;
}