body{
    background: #ffffff;;
    padding: 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


.top-section{
    margin-top: -1rem;
    padding-top: 3rem;
    padding-bottom: 3.4em;
    background: #fffafa;
}

span{
    color:#e7332b;
}

.grow{
    margin-top: 3em;
    font-size: 1.7em;
    font-weight:bold;
    color: #514b54;
}

.unlock{
    margin-top: 0.8em;
    font-size: 0.9em;
    width: 55%;
    display: inline-block;
    text-align: center;
}

.buttons{
    margin-top: 4em;
    margin-bottom: 20em;
}

button{
    width: 15em;
    height: 3.2em;
    border-radius: 0;
    border:0;
    font-size: 1em;
}

.new{
    background:#e7332b;
    color: white;
}

.need{
    background: #ffffff;
    color: #e7332b;
}

.middle-section{
    margin-top: 7em;
}

.cater{
    text-align: center;
    display: inline-block;
    font-size: 1.4em;
    color:#514b54;
    width: 400px;
    line-height: 1.8em;
    margin-top: -0.4em;
}

.blocks{
    display: flex;
    justify-content:space-around;
    margin-top: 2.4em;
    font-family: 'Poppins', sans-serif;
}

.blocks img{
    margin-top: 2em;
    margin-bottom: 2em;
}

.blocks p{
    width: 90%;
}

.blocks a{
    display: block;
    color:#e7332b;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.training, .internship, .talent{
    background: #fffafa;
    padding: 1.8rem;
    text-align: left;
    width: 25%;
}

.bottom-section{
    margin-top: 20em;
    margin-bottom: 7.5em;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    text-align: left;
    font-size: 15px;
}

.bottom-section a{
    color: #e7332b;
    text-decoration: none;
}

.links{
    width: 5%;
}

.links a{
    display: inline-block;
    margin-bottom: 12px;
    font-size: 14px;
}

.size{
    font-size: 14px;
}

.heading{
    margin-top: 0;
    font-weight: bold;
}

.icons img{
    width: 20px;
    margin-right: 4px;
}

br{
    display: block;
    margin-top: 60px;
    margin-bottom: 90px;
}

.footer {
    margin-top: 2em;
    margin-bottom: 8em;
    font-weight: bold;
}