body{
    margin: 0;
    width: 100%;
}

button{
    font-family: 'Roboto', sans-serif;
}

/* THE CONTAINER */
.container{
    width: 100%;
}

/* THE HEADER */
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 15px;
    background: white;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: auto;
}

.navbar{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}

#navs{
    width: 70px;
    text-align: center;
}

#navs:hover{
    background-color: rgb(245, 255, 254);
}

.hire-btn{
    height: 70%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #e7332b;
    border-radius: 0 0 10px 0;
}

.hire{
    color:#ffffff;
}

.navbar button{
    height: 10vh;
    width: auto;
    font-size: 15px;
    border: 0;
    background: none;
}

.navbar button:hover{
    cursor: pointer;
}




/* SECTION 1 */
#section1{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 100px;
}

.sect-a{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 54%;
}

.vetted{
    font-size:45px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: -25px;
}

span{
    color:#e7332b;
}

.curvy-line{
    width: 100px;
    margin-left: 450px;
}

.zuri-team{
    color: #979797;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    width: 405px;
    margin-bottom: 25px;
}

.hire-btn1{
    height: 40px;
    width: 180px;
    text-decoration: none;
    background: #e7332b;
    border-radius: 0 0 10px 0;
    border: none;
    color: white;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.join-btn{
    height: 40px;
    width: 230px;
    text-decoration: none;
    background: #585858;
    border-radius: 0 0 10px 0;
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.sect-b{
    width: 38%;
    display: flex;
    align-items: center;
}

.sect-b1{
    width: 80%;
    margin-left: 20px;
}

.sect-b2{
    width: 22%;
    margin-left: -30px;
    margin-top: 100px;
}

/* SECTION 2 */

#section2{
    width: 100%;
    background: #fdf3f2;
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
}

.section2{
    display: flex;
    justify-content: space-between;
    width: 83%;
    height: 75vh;
    margin: auto;
}

.sect-2a{
    width: 48%;
    border: 1px solid red;
}

.sect-2b{
    width: 35%;
    border: 1px solid red;
}

.pix-2b{
    width: 100%;
}

h1{
    font-size: 42px;
}

.sect-2a p{
    font-size: 20px;
}

.training{
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: -10px;
}

.placed{
    color: grey;
}

.pais{
    display: flex;
    justify-content:space-between;
    align-items: start;
    width: 80%;
}

.bandera{
    width: 40px;
    height: 40px;
    background: white;
    padding: 15px;
    font-size: 2px;
    border-radius: 7.5px;
}

/* MEDIA QUERIES */

@media (max-width: 1200px){
    .header{
        width: 90%;
    }
    
    #section1{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 65%;
        margin: auto;
        margin-top: 175px;
    }

    .sect-a{
        width: 95%;
    }   
    
    .vetted{
        font-size:40px;
    }

    .curvy-line{
        margin-left: 71%;
        margin-bottom: -10px;
    }

    .zuri-team{
        width: 90%;
        margin: 4% auto;
    }

    .sect-b{
        margin-top: 40px;
        margin-bottom: 80px;
        width: 90%;
    }

    .sect-b1{
        width: 97%;
        margin-left: 20px;
    }
    
    .sect-b2{
        width: 39%;
        margin-bottom: -250px;
        margin-left: -45px;
    }
}

@media (max-width: 1100px){
    .curvy-line{
        margin-left: 74%;
        margin-top: 0.7%;
    }
}

@media (max-width: 1000px){
    .zuri-team{
        font-size: 20px;
        width: 70%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .curvy-line{
        margin-left: 76%
    }

    .sect-b2{
        display: none;
    }
}

@media (max-width: 900px){
    .container{
        width: 100%;
        margin: auto;
    }

    .header{
        width: 95%;
    }

    .navbar{
        justify-content: flex-end;
    }

    #navs{
        display: none;
    }

    #section1{
        width: 90%;
    }

    .curvy-line{
        margin-left: 71%;
    }
}

@media (max-width: 800px){
    .sect-a{
        width: 95%;
    }

    .vetted{
        font-size: 40px;
    }

    .curvy-line{
        margin-left: 74%;
    }

    .zuri-team{
        width: 67%;
    }
}

@media (max-width: 700px){
    .curvy-line{
        margin-left: 77%;
    }

    .zuri-team{
        width: 66%;
    }
}

@media (max-width: 600px){
    .header{
        width: 90%;
        justify-content: space-around;
    }

    #section1{
        margin-top: 90px;
    }

    .vetted{
        font-size:40px;
        width: 70%;
        margin: 40px auto -28px auto;
    }

    .curvy-line{
        margin-left: 46%;
    }

    .zuri-team{
        font-size: 17px;
        width: 93%;
        margin: 7% auto;
    }

    .hire-btn{
        height: 75%;
        width: 53%;
    }
}

@media (max-width: 500px){
    .header{
        width: 85%;
        justify-content: space-around;
    }

    .hire-btn{
        height: 60%;
        width: 60%;
    }

    .hire-btn1{
        height: 6vh;
        width: 30%;
    }

    .join-btn{
        height: 6vh;
        width: 40%;
    }

    #section1{
        margin-top: 100px;
    }

    .vetted{
        font-size:40px;
        width: 90%;
    }


}

@media (max-width: 400px){
    .header{
        width: 85%;
        justify-content: space-around;
    }
    
    .hire-btn{
        height: 80%;
        width: 83%;
    }

    .curvy-line{
        margin-left: 66%;
        margin-top: 2%;
    }
}

@media (max-width: 375px){
    .curvy-line{
        margin-left: 68%;
        margin-top: 2%;
    }

    .hire-btn1{
        height: 6vh;
        width: 35%;
    }

    .join-btn{
        height: 6vh;
        width: 50%;
    }
}
