body{
    background: #ffffff;;
    padding: 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.container{
    border: 1px solid red;
}

.top-section{
    margin-top: 3em;
    background: #fffafa;
    border: 1px solid red;
}

span{
    color:#e7332b;
}

.grow{
    margin-top: 3em;
    font-size: 1.7em;
    font-weight:bold;
    color: #514b54;
}

.unlock{
    margin-top: 0.8em;
    font-size: 0.9em;
    width: 55%;
    display: inline-block;
    text-align: center;;
    border: 1px solid red;
}

.buttons{
    margin-top: 4em;
    margin-bottom: 20em;
}

button{
    width: 15em;
    height: 3.2em;
    border-radius: 0;
    border:0;
    font-size: 1em;
}

.new{
    background:#e7332b;
    color: white;
    border: 1px solid #e7332b;
}

.need{
    background: #ffffff;
    color: #e7332b;
    border: 1px solid #e7332b;
}

.middle-section{
    margin-top: 10em;
}

.cater{
    text-align: center;
    display: inline-block;
    font-size: 1.4em;
    color:#514b54;
    width: 400px;
    line-height: 1.8em;
    margin-top: -0.4em;
}

.blocks{
    display: flex;
    justify-content:space-between;
    margin-top: 2.4em;
    font-family: 'Poppins', sans-serif;
}

.blocks img{
    margin-top: 3em;
    margin-bottom: 3em;
    border: 1px solid red;
}

.blocks p{
    width: 90%;
    border: 1px solid red;
}

.blocks a{
    display: block;
    color:#e7332b;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    text-decoration: none;
}

.training, .internship, .talent{
    background: #fffafa;
    padding: 1.8rem;
    text-align: left;
    width: 25%;
    border: 1px solid red;
}

.bottom-section{
    margin-top: 20em;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    text-align: left;
    font-size: 15px;
}

.bottom-section > * {
    border: 1px solid red;

}