/* THE CONTAINER */
.container{
    width: 80%;
    margin: auto;
}

/* THE HEADER */
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    width: 100%;
}

.navbar{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}

#navs{
    width: 100px;
}

.hire-btn{
    height: 70%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #e7332b;
    border-radius: 0 0 10px 0;
}

.hire{
    color:#ffffff;
}

.navbar button{
    height: 10vh;
    width: auto;
    font-size: 15px;
    border: 0;
    background: none;
}

.navbar button:hover{
    cursor: pointer;
}




/* SECTION 1 */
#section1 img{
    width: 200px;
    border: 1px solid red;
}

#section1{
    display: flex;
    border: 1px solid yellowgreen;
}

#section1 >* {
    border:1px solid red;
}

@media (max-width: 890px){
    /* THE CONTAINER */

.container{
    width: 95%;
    margin: auto;
}

.header{
    width: 95%;
}

.navbar{
    width: 75%;
    display: flex;
    justify-content: flex-end;
}

#navs{
    display: none;
}

.hire-btn{
    width: 170px;
}
}